.example-enter {
    opacity: 0.01;
}
  
.example-enter.example-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.example-leave {
    opacity: 1;
    transform: translateY(0);
}
  
.example-leave.example-leave-active {
    opacity: 0.01;
    transform: translateY(-100vw);
    transition: opacity .1s ease-out, transform 1s;
}
  
.example-appear {
    opacity: 0.01;
}
  
.example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .2s ease-in;
}