.UserProfileContainer {
    max-width: 70%;
    margin: auto;
    /* border: 2px solid grey; */
}

.ProfileHeader {
    margin-bottom: 60px;
}

.PageTitle {
    font-size: 160%;
    font-weight: bold;
}

@media screen and (min-width: 800px) {
    .PageTitle {
        font-size: 170%;
    }
}

@media screen and (min-width: 1000px) {
    .PageTitle {
        font-size: 180%;
    }
}

.PasswordReset {
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(194, 195, 197, 0.767);
    border-radius: 10px;
}

.DangerZone {
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid rgb(248, 80, 80);
    border-radius: 10px;
}

.DangerTitle {
    font-weight: bold;
    font-size: 150%;
    color: #944317;
}

.HighlightetdID {
    font-weight: bold;
    color: #944317;
}