.NewPaste {
    width: 450px;
    height: 100%;
    /* overflow: auto; */
    box-sizing: border-box;
    margin: auto;
    /* display: flex;
    flex-direction: column; */
}


@media screen and (min-width: 600px) {
    .NewPaste {
        width: 600px;
    }
}

@media screen and (min-width: 1000px) {
    .NewPaste{
        width: 1000px;
    }
}