.NewPaste {
    width: 95%;
    height: 100%;
    box-sizing: border-box;
    margin: auto;
}


@media screen and (min-width: 600px) {
    .NewPaste {
        width: 590px;
    }
}

@media screen and (min-width: 800px) {
    .NewPaste {
        width: 790px;
    }
}

@media screen and (min-width: 1000px) {
    .NewPaste{
        width: 990px;
    }
}

@media screen and (min-width: 1300px) {
    .NewPaste{
        width: 1280px;
    }
}

.EditorContainer {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}